@font-face {
    font-family: SM64;
    src: url(../font/Mario64.ttf);
}

body {
    background-image: url(../img/bg.webp);
}

h1, h2, h3, h4, h5, h6 {
    font-family: SM64;
    text-align: center;
}

.marioIdle {
    float: right;
}

.peachCastle {
    float: left;
}